<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<form th:action="@{/form}" th:object="${usuario}" method="post">
		<div>
			<label for="username">Nombre de usuario</label>
			<div>
				<input type="text" id="username" th:field="*{username}">
			</div>
			<div th:if="${#fields.hasErrors('username')}"
				th:errors="*{username}"></div>
		</div>
		<div>
			<label for="password">Contraseña</label>
			<div>
				<input type="password" id="password" th:field="*{password}">
			</div>
			<div th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}"></div>
		</div>
		<div>
			<label for="email">Correo</label>
			<div>
				<input type="email" id="email" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		<div>
			<div>
				<input type="submit" value="Enviar">
			</div>
		</div>
	</form>
</body>
</html>